.header {
	text-align: center;
	max-width: 232.96px;
	margin: 23px 35px 0;
}

.header > h2 {
	color: #2b283a;
	font-size: 25px;
	font-weight: 700;
}

.header > p {
	color: #4a4e74;
	font-size: 13px;
}
